body {
    font-family: Arial;
}


/* Main horizontal layout */

.profile {
    width: 600px;

    display: flex;

    align-items: center;
}


/* Profile image */

.profile-image {
    width: 100px;
}

.profile-image img {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    object-fit: cover;
}


/* Profile information */

.profile-info {
    width: 300px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.description {
    color: gray;
    font-size: 18px;
}

.popular {
    color: gray;
    font-size: 18px;
}


/* Button */

.follow-button {
    background-color: #4285e8;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    font-size: 16px;
}